.update-place-header {
    width: 96%;
    margin: 14px auto;
}


.exit-edit-places-btn {
    width: fit-content;
    border: none;
    background: none;
}

.exit-edit-places-btn img {
    width: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 30px;
}

